<div class="dashboard-container">
  <div class="left-column">
    <div class="search">
      <form action="/search" method="POST">
        <input type="text" name="search" placeholder="Search for food">
        <button tpe="submit">Search</button>
      </form>
    </div>
    <div class="food-list">

      {{#each allFoodDB}}
      <div class="food-item">

        <div class="food-item-container">
          <a href="/details/{{_id}}">
            <h3>{{title}}</h3>
          </a>
          <p>{{status}}</p>
          <span class="dashboard-address"><i class="fas fa-map-marker-alt"></i> {{street}}, {{houseNumber}}</span>
        </div>

        <div class="img-container">
          <img src="{{imgPath}}" alt="{{title}}" class="img-dashboard">
        </div>

      </div>
      {{/each}}

    </div>
    <div class="btn-container"><a href="/add" class="add-btn"><i class="fas fa-plus-circle"></i> ADD & SHARE!</a></div>

  </div>

  <div class="food-map">
    <div id="foodsharingmap" style="width: 100%; height: 87vh"></div>
  </div>

</div>

<script>
  // var mapboxgl = require("mapbox-gl/dist/mapbox-gl.js");
  let address = ""
  mapboxgl.accessToken =
    "pk.eyJ1IjoidmVyb25pY2FkZWxlb25oIiwiYSI6ImNrZjU0ZzM0cDBqYzgyc21kazBwbWlxemcifQ.PD9lxFAUmHtAh5TUogPICw";
  var map = new mapboxgl.Map({
    container: "foodsharingmap",
    style: "mapbox://styles/mapbox/streets-v11",
    center: [13.405, 52.52],
    zoom: 10,
    options: {
      anchor: "top-left",
    },
  });

  axios.get('/rawdata').then(fooditems => {
    console.log(fooditems.data)
    fooditems.data.forEach(element => {
      address = `${element.houseNumber}, ${element.street}, ${element.zipcode}`
      console.log(address)
      let options = element.title
      axios
        .get(
          `https://api.mapbox.com/geocoding/v5/mapbox.places/${address}.json?access_token=pk.eyJ1IjoidGltYm90aW1iZXIiLCJhIjoiY2s2Z2s1aTU0MHltMzNrcXB3bjlnYWNyYiJ9.14z3LvxL-5ovU8Ur6CuJtw`
        )
        .then(async (response) => {
          let location = response.data.features[0].center;
          let marker = new mapboxgl.Marker({
            scale: 1,
            draggable: false,
            color: "red",
          });
          marker.setLngLat(location);
          marker.setPopup(new mapboxgl.Popup({ className: 'my-class' }).setHTML(options))
          console.log(location)
          await marker.addTo(map);
        });
    });

  });


</script>