<div class="page-wrapper">
  <h2>Share some food!</h2>

  <p><a href="/dashboard" class="back-btn">←Dashboard</a></p>

  <form action="/dashboard" method="POST" enctype="multipart/form-data">

    <p><input type="text" name="title" id="title" placeholder="Title"></p>

    {{#with user}}

    <p><input type="text" name="street" id="street" value="{{street}}"></p>

    <p><input type="text" name="houseNumber" id="houseNumber" value="{{houseNumber}}"></p>

    <p><input type="text" name="zipcode" id="zipcode" value="{{zipcode}}" </p>
      {{/with}}

    <p><textarea name="description" id="description" placeholder="Write your message here..."></textarea></p>

    <div class="categories-row">
      {{!-- <img src="/public/images/noun_grapes_991771.svg" alt="raw-food">
      <img src="/noun_grapes_991771.svg" alt="raw-food">
      <img src="/noun_grapes_991771.svg" alt="raw-food"> --}}
      {{#each categories}}
      <p><input type="checkbox" name="categories" id="categories" value={{this}}></br>
        <label for="categories">{{this}}</label></p>
      {{/each}}
    </div>

    <p>
      <input type="file" name="photo" id="photo"></p>

    <hr>
    <button type="submit" class="signup-btn">Share now!</button>

  </form>
</div>