<h2>Detailed food view</h2>
{{#with newFood}}
<h3>{{title}}</h3>
<p>{{description}}</p>
<p>{{status}}</p>

<img src="{{imgPath}}" alt="{{title}}">

{{!-- Add the buttons to request food --}}
<a href="/dashboard">See the whole list</a>

{{#if creator.role }}
<a href="/food/{{_id}}/edit">Edit</a>
{{/if}}
{{/with}}
