<div class="page-wrapper">
  {{#with newFood}}

  <div class="food-details-container">
    <img src="{{imgPath}}" alt="{{title}}" class="img-food-details">

    <div class="food-details">
      <h2>{{title}}</h2>
      <p><a href="/dashboard" class="back-btn">←Dashboard</a></p>
      </br>
      {{#if creator.role }}
      <a href="/food/{{_id}}/edit"> ✏️ Edit food entry</a>
      {{/if}}


      <p>{{date}}</p>
      <div class="dark-box">
        <p>{{description}}</p>

        <hr>

        <p style="font-weight: 300;">To pick up in <br>
          <spa style="font-weight: 600;" n><i class="fas fa-map-marker-alt"></i> {{street}} {{houseNumber}},
            {{zipcode}}</span>
        </p>
        <hr>

        <p>This item is now <span id="span2" class="span-status"> {{status}}</span></p>

        <button type="submit" id="statusAnother-btn2" value="{{_id}}" class="signup-btn">{{statusAnother}}</button>
      </div>

    </div>
  </div>

  {{/with}}
</div>


<script>

  let goneButtons2 = document.querySelector("#statusAnother-btn2")

  goneButtons2.onclick = (e) => {
    axios.post(`/blockFood/${e.target.value}`, { status: status }).then(response => {
      goneButtons2.parentNode.querySelector("#span2").innerText = response.data;
      goneButtons2.innerText = "Gone";
      goneButtons2.disabled = true
    }).catch(err => {
      console.log(err);
    })
  }

</script>