<h2>Detailed food view</h2>
{{#with newFood}}
<h3>{{title}}</h3>
<p>{{description}}</p>
<p>{{status}}</p>
<p>{{date}}</p>

<p>IMG PATH : {{imgPath}}</p>

<img src="{{imgPath}}" alt="{{title}}" style="background-color: lightgreen;">

{{#if creator.role }}
<a href="/food/{{_id}}/edit">Edit</a>
{{/if}}



{{!-- Add the buttons to request food --}}
<p><a href="/dashboard">← Dashboard</a></p>


{{/with}}
