<div class="page-wrapper">
  {{#with newFood}}

  <div class="food-details-container">
    <img src="{{imgPath}}" alt="{{title}}">

    <div class="food-details">
      <h2>{{title}}</h2>
      <p><a href="/dashboard">← Back to Dashboard</a></p>
      <p>{{description}}</p>
      <p>{{status}}</p>
      <p>{{date}}</p>

      <p>Pick up in <br>
        {{street}}{{houseNumber}}{{zipcode}}</p>
      <hr>

      <span id="span2">{{status}}</span>
      <button type="submit" id="statusAnother-btn2" value="{{_id}}">{{statusAnother}}</button>

      {{#if creator.role }}
      <a href="/food/{{_id}}/edit">Edit</a>
      {{/if}}
    </div>
  </div>

  {{/with}}
</div>


<script>

  let goneButtons2 = document.querySelector("#statusAnother-btn2")

  goneButtons2.onclick = (e) => {
    axios.post(`/blockFood/${e.target.value}`, { status: status }).then(response => {
      goneButtons2.parentNode.querySelector("#span2").innerText = response.data;
      goneButtons2.innerText = "Gone";
      goneButtons2.disabled = true
    }).catch(err => {
      console.log(err);
    })
  }

</script>