<div class="page-wrapper">
  <h2>Edit Food entry</h2>

  <p><a href="/dashboard">← Back to Dashboard</a></p>

  {{#with foodData}}

  <form action="/food/{{_id}}/edit" method="POST">

    <p><input type="text" name="title" id="title" value="{{title}}"></p>

    <p><input type="text" name="street" id="street" value={{street}}></p>

    <p><input type="text" name="houseNumber" id="houseNumber" value={{houseNumber}}></p>

    <p><input type="text" name="zipcode" id="zipcode" value={{zipcode}}></p>

    <p><label for="description">Your message</label>
      <textarea name="description" id="description">{{description}}</textarea></p>

    {{/with}}
    <div class="categories-row">
      {{{options}}}
    </div>

    <hr>
    <p><button type="submit" class="signup-btn">Update your entry</button></p>
  </form>

</div>